.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-shrink: 0;

  transition-property: var(--interactions-transitions-property-color), var(--interactions-transitions-property-transform);
  transition-duration: var(--interactions-transitions-duration-fast);
  transition-timing-function: var(--interactions-transitions-easing-ease-in-out);
}

.interactive {
  cursor: var(--interactions-cursor-pointer);
}

.interactive:hover {
  transform: scale(var(--interactions-hover-effect-scale));
}