.paragraph {
  box-sizing: border-box; // Added for overflow prevention
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-sizes-body-default);
  line-height: var(--typography-line-height-base);
  color: var(--colors-text-default);
  margin: 0;
}

.lead {
  font-size: var(--typography-sizes-body-large);
  font-weight: var(--typography-font-weight-medium);
}

.muted {
  font-size: var(--typography-sizes-body-small);
  color: var(--colors-text-secondary);
}