.label {
  display: block;
  color: var(--colors-text-secondary);
  font-family: var(--typography-font-family);
  font-size: var(--typography-sizes-body-small);
  font-weight: var(--typography-font-weight-medium);
  margin-bottom: var(--spacing-small);
}