.pageLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--layout-max-page-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-large) var(--layout-gutter);
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .pageLayout {
    padding: var(--spacing-default) var(--spacing-large);
  }
}

@media (max-width: 480px) {
  .pageLayout {
    padding: var(--spacing-default) var(--spacing-default);
  }
}